/**Admin Stuff**/

#toolbar-administration a:link, #toolbar-administration a:visited, .toolbar-menu-administration a:link, .toolbar-menu-administration a:visited {
  font-family: 'Istok Web', sans-serif;
  font-size: 1em !important;
  font-weight: 400 !important;
  line-height: 1 !important;
}

/*
.path-diy .row,
.path-connect .row,
.path-treatment .row{
  max-width: 1170px !important;
  margin: 0 auto;
}
*/

/* --------------------------------- */

/*           General Top Level       */

/* --------------------------------- */

body, p {
  color: #333333;
  font-family: 'Istok Web', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5;
}

.treatment-wrapper p {
  margin-bottom: 2em;
}

a:link, a:visited {
  color: #0a5794;
  font-family: 'Istok Web', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.75;
}

a:hover {
  color: #0370c6;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  color: inherit;
}

h1, .h1 {
  font-size: 2.25em;
  font-weight: 600;
}

h2, .h2 {
  font-size: 2em;
  font-weight: 600;
}

h3, .h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4, .h4 {
  font-size: 1.5em;
  font-weight: 500;
}

h5, .h5 {
  font-size: 1.25em;
  font-weight: 400;
}

h6, .h6 {
  font-size: 1em;
  font-weight: 400;
}

/* --------------------------------- */

/*           General                 */

/* --------------------------------- */
.btn-primary {
  color: #fff;
  background-color: #154b5e !important;
  border-color: #fff !important;
  padding: .75em 1.5em;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  
  -webkit-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.75);
}

#block-webform-2 {
  background: #1db4bb;
  margin-left: -15px;
  margin-right: -15px;
}

#block-findbyzipcode {
  background: url(/stage-drupal8/sites/default/files/black-map.png) no-repeat;
  background-size: cover;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 440px;
}

#block-webform {
  clear: both;
}

.block-webform h2.block-title {
  text-align: center;
}

#block-footerlogo {
  margin: 0 2em 3em 0;
}

#block-footerlogo p {
  margin: 0;
}

#block-aboutmentalhealthamerica {
  background: url(/stage-drupal8/sites/default/files/bell.png) no-repeat;
  background-size: 350px 100%;
}

#block-aboutmentalhealthamerica p {
  font-size: 1.1em;
  line-height: 1.2;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 2em;
  text-align: center;
}

#block-aboutmentalhealthamerica h2.block-title {
  text-align: center;
}

#block-aboutmentalhealthamerica .field--item a:link, #block-aboutmentalhealthamerica .field--item a:visited {
  font-size: 1em;
  font-weight: 600;
  padding: .75em 2em;
  margin: 0 2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#block-aboutmentalhealthamerica .field--type-text-with-summary a:link, #block-aboutmentalhealthamerica .field--type-text-with-summary a:visited {
  font-size: 1em !important;
  font-weight: 700 !important;
  padding: .75em 1.5em !important;
}

#block-aboutmentalhealthamerica .field--type-text-with-summary a:hover {
  color: #fff !important;
  background: #777 !important;
}

/* Button Mods */

.btn-default {
  background-color: #0e3953;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: .75em 3em;
}

#block-aboutmentalhealthamerica .field--type-text-with-summary .social-media-links a:link,
#block-aboutmentalhealthamerica .field--type-text-with-summary .social-media-links a:visited {
  font-size: 1em !important;
  font-weight: 700 !important;
  padding: 0 .25em !important;
}

#block-aboutmentalhealthamerica .field--type-text-with-summary .social-media-links a:hover {
  background: transparent !important;
}

.btn-primary {
  color: #fff;
  background-color: #0a5794;
  border-color: #0a5794;
}

.btn-white a {
  color: #262626 !important;
}

/* Purple Button */

.btn-purple {
  position: relative;
  bottom: 1em;
}

.btn-purple a {
  background: #810262;
  border: 0;
  display: block;
  float: left;
  height: 145px;
  margin: 0 4px 15px;
  overflow: hidden;
  padding: .75em;
  width: 19%;
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 300;
  line-height: inherit;
  text-align: center;
  word-wrap: break-word;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background 100ms linear;
  -moz-transition: background 100ms linear;
  -ms-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  transition: background 100ms linear;
}

.btn-purple a:hover {
  background: #3072ad;
  text-decoration: none;
}

/* Blue Button */

.btn-blue {
  position: relative;
  bottom: 1em;
}

.btn-blue a {
  background: #1db4bb;
  border: 0;
  display: block;
  float: left;
  height: 145px;
  margin: 0 4px 15px;
  overflow: hidden;
  padding: .75em;
  width: 19%;
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 300;
  line-height: inherit;
  text-align: center;
  word-wrap: break-word;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition: background 100ms linear;
  -moz-transition: background 100ms linear;
  -ms-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  transition: background 100ms linear;
}

.btn-blue a:hover {
  background: #3072ad;
  text-decoration: none;
}

/* Info Button */

.btn-info {
  color: #fff;
  background-color: #0a5794;
  border-color: #0a5794;
}

.btn-info:hover {
  color: #fff;
  background-color: #ed6963;;
  border-color: #ed6963;
}

.diy-tool h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: #000;
}

.diy-tool a:link, .diy-tool a:visited, .connect-tool a:link, .connect-tool a:visited, .condition a:link, .condition a:visited, .referral-to-treatment-profile a:link, .referral-to-treatment-profile a:visited, .treatment-info a:link, .treatment-info a:visited {
  color: #000;
  font-family: 'Istok Web', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.75;
  text-decoration: none;
}

.diy-tool ul a:link, .diy-tool ul a:visited {
  color: #0a5794;
  background-color: #fff;
  border: 1px solid #0a5794;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: .5em 1em;
}

li.node-readmore a:link, li.node-readmore a:visited, .feed-icons a:link, .feed-icons a:visited {
  color: #0a5794;
  background-color: #fff !important;
  border: 1px solid #0a5794 !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: .5em 1em !important;
  text-decoration: none;
}

.diy-tool ul a:hover, li.node-readmore a:hover {
  color: #ed6963 !important;
  border-color: #ed6963 !important;
  text-decoration: none;
}

.diy-tool, .connect-tool, .condition, .referral-to-treatment-profile, .treatment-info {
  background-color: #f9f9f9;
  padding: 0 2em 2em 2em;
  border-bottom: 2px solid #eee;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 3em;
  
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.fa {
  font-size: 2.5em !important;
  padding: .5em .5em !important;
}

.fa-twitter, .fa-instagram, .fa-youtube, .fa-pinterest, .fa-facebook {
  color: #114b5f !important;
}

.field--label, .file {
  font-weight: 700;
  font-size: 1.2em;
  color: #ed6963 !important;
}

.field--name-field-author {
  font-size: 1.25em;
  font-weight: 400;
  font-style: italic;
  margin-top: .75em;
}

.field--name-body, .field--name-field-treatment-category, .field--name-field-condition-severity, .field--name-field-tags, .field--type-entity-reference, .field--name-field-referral-tool-friendly-des {
  clear: both;
  display: block;
  margin: 1em 0;
  padding: 1em 0;
}

.field--item a:link, .field--item a:visited, .field-content a:link, .field-content a:visited {
  background-color: transparent;
  border: none;
  color: inherit;
  float: inherit;
  font-size: 1.1em;
  font-weight: 400;
  line-height: inherit;
  padding: inherit;
  margin: inherit;
  border-radius: inherit;
  text-decoration: none;
}

.field--type-entity-reference .field--item a:link, .field--type-entity-reference .field--item a:visited {
  background: #fff !important;
  border: 1px solid #000;
  padding: .5em 1em;
  float: left;
  margin: .5em .75em .5em 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.field--name-field-issue, .field--name-field-tags, .field--name-field-diy-type {
  clear: both;
}

.field--type-entity-reference .field--item a:hover {
  background: #ed6963 !important;
  border: 1px solid #ed6963 !important;
  color: #fff !important;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  border-radius: 0;
  margin-top: 0;
  background-color: #f5f5f5;
  border: 1px solid #95989a;
}

.form-inline .checkbox input[type="checkbox"] {
  margin-right: .5em;
}

.form-inline .checkbox label {
  padding: 0;
  margin: 0;
  border-radius: 0px;
  width: 200px;
}

.form-control {
  color: #666;
  background-color: #f5f5f5;
  border: 1px solid #95989a;
  border-radius: 0;
  box-shadow: none;
  font-weight: 300 !important;
}

.form-inline .control-label {
  font-weight: 500;
  font-size: 1.25em;
}

.form--inline.form-inline {
  border-bottom: 1px solid #eee;
  padding: .75em;
  border-radius: 0;
  margin: 0 0 3em 0;
}

/* --- FOOTER --- */

.footer {
  background: #154b5e;
  margin-top: 45px;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

.footer .center-block {
  margin-bottom: 2em;
}

.footer p, .google-search {
  color: #ffffff;
  font-size: .9em;
  font-weight: 300;
  margin: 0;
}

.footer h2 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em;
  font-weight: 200;
  text-transform: uppercase;
}

/* footer nav */

.footer .nav > li > a:link, .footer .nav > li > a:visited {
  color: rgba(255, 255, 255, 0.7);
  font-size: .95em;
  font-weight: 200;
}

.footer .nav > li > a:hover {
  background: transparent;
  text-decoration: underline;
}

.footer .nav > li > a {
  margin: 0 0 .25em 0;
  padding: 0;
}

/* Google Translate */

#google_translate_element {
  float: right;
}

.region-superfooter-1 {
  margin: 2.1em 0 0;
}

.region-superfooter-1 img {
  max-width: 175px;
}

.region-sidebar-first .form--inline {
  background: url(/stage-drupal8/sites/default/files/search-big_0.png) no-repeat;
  background-size: 100%;
}

.region-content .views-exposed-form,
.region-content .view-content,
.region {
  margin: 0 auto;
  max-width: 1170px;
}

/* Slider */
.slider-table {
  width: 100%;
}

.slider-link-nav {
  width: 50%;
  margin: 0 auto;
}

.slider-link-nav ul {
  padding-left: 0 !important;
}

.slider-wrapper {
  margin: 0 auto;
  width: 100%;
  padding-right: -15px !important;
  padding-left: -15px !important;
}

.slider-image {
  position: relative;
}

.slider-wrapper img {
  margin: 0 auto;
  width: 100%;
}

.slider-copy-wrapper-center {
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  margin: 0 auto !important;
  background: transparent !important;
  padding: 2em !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

.slider-title {
  font-size: 4em;
  font-weight: 400;
  color: #000;
  text-shadow: none !important;
  text-align: center !important;
  width: 100% !important;
  margin: 0 auto !important;
}

.slider-body p {
  font-size: 2em;
  font-weight: 400;
  color: #000;
  line-height: 1.2;
  text-align: center !important;
  text-shadow: none;
  padding-bottom: 1em;
  width: 100% !important;
  margin: 0 auto !important;
}

.slider-link-nav {
  width: 50%;
  margin: 0 auto;
}

.slider-link-nav ul {
  padding-left: 0 !important;
}

.slider-link-1 {
  background-color: #154b5e !important;
  border: 1px solid #fff !important;
  color: #ffffff !important;
  float: none !important;
  font-size: 1.2em !important;
  font-weight: 600 !important;
  line-height: inherit !important;
  padding: .75em 1.25em !important;
  list-style: none;
  max-width: 300px;
  text-align: center !important;
  
  border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  
  -webkit-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.75);
  
  margin: 0 auto !important;
}

.slider-link-2 {
  background-color: transparent !important;
  border: none !important;
  color: #000000 !important;
  font-size: 1.2em !important;
  font-weight: 600 !important;;
  padding: .75em 1.25em !important;
  max-width: 300px;
  text-align: center !important;
  list-style: none;
  margin: 0 auto !important;
}

.social-media-icons p {
  margin: 0 1em !important;
  text-align: center !important;
}

.logo img {
  max-height: 6em;
}

legend {
  margin-top: 1em;
}

.page-header {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: .75em;
}

time {
  color: #0a5794;
  font-size: 1.5em;
  font-weight: 600;
}

.treatment-wrapper p {
  margin-bottom: 2em;
  line-height: 1.5;
  font-size: 1.1em;
  border-bottom: 1px solid #f5f5f5;
  
}

/* --------------------------------- */

/*           RESPONSIVE  FOOTER      */

/* --------------------------------- */

@media (min-width: 768px) {
  .seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1 {
    width: 100%;
  }
  
  .footer h2 {
    margin: 2em 0 1em 0;
  }
  
  .region-superfooter-1 img {
    max-width: 150px;
  }
}

/* END / Footer */

.mha-footer-tx {
  margin: 0 4em;
}

.mha-footer-tx:after {
  content: '\f054';
  font-family: FontAwesome;
  display: inline-block;
  color: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  margin: 0 0 0 .5em;
}

.navbar .logo {
  margin-top: 0;
}

/* Remover grey background */

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

/* Hide site text title */

.navbar-default .navbar-brand {
  display: none;
}

/* Master nav adjustments */

.navbar-default .navbar-nav > li > a {
  color: #262626 !important;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.navbar-nav > li > a:hover {
  color: #0a5794 !important;
}

/* Shift main nav to the left */

.navbar-nav {
  margin: 1em 0 0 -2.4em;
}

/* Increase the nav width */

.navbar.container {
  max-width: 1170px;
}

.navbar-default .container {
  padding-left: 0;
}

/* Top Nav Buttons */

#navbar-mobile {
  width: 64%;
  float: right;
}

.nav-pills > li > a {
  color: #262626;
  font-size: 1em;
  font-weight: 300;
}

.navbar-default .navbar-toggle {
  border-color: #262626;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ffffff;
}

/* Top Nav */

#navbar #top-nav .nav {
  float: right;
  text-transform: uppercase;
}

#navbar #top-nav li {
  float: left;
}

#navbar #top-nav .nav > li > a {
  color: #262626;
  padding: .75em 1em;
  font-size: .9em;
  font-weight: 300;
  margin: 0 0 0 1em;
}

#navbar #top-nav .btn-danger {
  background: #ffffff;
  border: 1px solid #ed6963;
  color: #ed6963 !important;
  transition: all 0.5s ease 0s;
}

#navbar #top-nav .nav-pills > li > a.btn-danger {
  color: #ed6963 !important;
  font-size: 1em;
  margin: 0 .75em 0;
}

#navbar #top-nav .nav > li > a:hover, #navbar #top-nav .nav > li > a:focus {
  background: #ed6963;
  border: 1px solid #ed6963;
  color: #ffffff !important;
}

#navbar #top-nav .nav > li > a.btn-white:hover, #navbar #top-nav .nav > li > a:focus {
  background: transparent;
  border: none;
  color: #0370c6 !important;
}

.navbar-default .navbar-nav > .active > a {
  color: #ed6963;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.panel-body {
  padding: 0 15px;
}

.panel-title {
  font-weight: 400;
}

.panel-heading {
  padding: 10px 0 0 15px;
}

.panel-default {
  border-color: transparent;
}

.panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
}

#top-nav input[type=text] {
  box-sizing: border-box;
  border: 0;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  background-image: url('/sites/default/files/inline-images/search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 40px;
  height: 40px;
  padding: 12px 20px 12px 40px;
  margin: .75em 1em 0 2em;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: right;
}

#top-nav input[type=text]:focus {
  width: 300px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #dddddd;
}

.view-header {
  font-size: 1.5em !important;
  font-weight: 500 !important;
  margin: 0 0 1em !important;
}

.view-header h4 {
  margin: 0 0 2em;
}

.webform-submission-add-form {
  width: 700px;
  margin: 0 auto;
  padding: 3em 0;
}

.webform-submission-form .radio label {
  display: inline-block;
  padding: 8px 30px;
  margin: 0 10px 10px 0;
  background: #f2eee7;
  color: #810262;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.1em;
  font-family: "proxima-nova", sans-serif;
}

.webform-submission-form .radio input[type="radio"], .webform-submission-form .radio-inline input[type="radio"], .webform-submission-form .checkbox input[type="checkbox"], .webform-submission-form .checkbox-inline input[type="checkbox"] {
  height: 0;
}

#webform_submission_do_you_have_unanswered_questions_add_form-ajax .form-actions .btn,
#webform_submission_do_you_have_unanswered_questions_add_form-ajax .form-actions .btn-group {
  background: #ed6963 !important;
}

@media (min-width: 992px) {
  .seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}

/* --------------------------------- */

/*      RESPONSIVE      HEADER       */

/* --------------------------------- */

/* Large desktop */

@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 1200px) {
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
  /* Add */
  #navbar #top-nav .nav > li > a:hover, #navbar #top-nav .nav > li > a:focus {
    background: none;
    border: none;
    color: #0370c6 !important;
  }
  
  #navbar #top-nav .nav-pills > li > a.btn-danger {
    color: #262626;
    margin-top: .2em !important;
  }
  
  #navbar #top-nav .btn-danger {
    background: #ffffff;
    border: none;
  }
  
  #navbar-mobile {
    width: 100%;
    float: none;
  }
  
  #navbar-mobile .navbar-collapse {
    border-bottom: 1px solid #dddddd;
    padding: .25em 0;
    margin: .25em 0 .5em 0;
  }
  
  #navbar #top-nav .nav-pills > li > a.btn-danger {
    margin: 0;
  }
  
  .navbar-nav {
    margin: 1em 0 2em -1.2em;
  }
  
  .logo img {
    margin: .75em 0 0 0;
    max-height: 4em;
  }
}

/* Landscape phones and down */

@media (max-width: 480px) {
  /* Add */
  #navbar #top-nav .nav > li > a:hover, #navbar #top-nav .nav > li > a:focus {
    background: none;
    border: none;
    color: #0370c6 !important;
  }
  
  #navbar #top-nav .nav-pills > li > a.btn-danger {
    color: #262626;
    margin-top: .2em !important;
  }
  
  #navbar #top-nav .btn-danger {
    background: #ffffff;
    border: none;
  }
  
  #navbar-mobile {
    width: 100%;
    float: none;
  }
  
  #navbar-mobile .navbar-collapse {
    border-bottom: 1px solid #dddddd;
    padding: .25em 0;
    margin: .25em 0 .5em 0;
  }
  
  #navbar #top-nav .nav-pills > li > a.btn-danger {
    margin: 0;
  }
  
  .navbar-nav {
    margin: 1em 0 2em -1.2em;
  }
  
  .logo img {
    margin: .75em 0 0 0;
    max-height: 4em;
  }
  
  #navbar #top-nav .btn-danger {
    color: #262626 !important;
  }
  
  #navbar #top-nav .nav > li > a {
    margin: .85em 0 0 0;
    line-height: 0;
  }
  
  #navbar #top-nav .btn {
    line-height: 0;
  }
  
  #top-nav input[type="text"] {
    float: left !important;
  }
  
  #top-nav input[type=text]:focus {
    border-bottom: 1px solid #ffffff !important;
  }
  
  .webform-submission-add-form {
    width: 100%;
  }
  
  /* Stop */
}